html {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  height: 95vh;
  width: 45vh;
}

a {
  text-decoration: none !important;
  cursor: pointer !important;
}

@media only screen and (max-width: 500px) {
  body {
    width: 100%;
    height: 100%;
  }
}

.big_container {
  display: flex;
  background-color: #F5F5F5;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 2.5rem 1rem 0 1rem;
  font-weight: 700;
  font-size: 1.5rem;
  gap: 1rem;
}

.login-container {
  display: flex;
  width: 80%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-direction: column;
}

#loginForm {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.box {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.logout {
  width: 10rem;
}

.edit {
  width: 3rem;
}

.info_box {
  padding: 1rem 0 2rem;
}
.booth_box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
}

.text_box {
  display: flex;
  width: 100%;
  text-align: left;
  align-items: center;
}

button:hover {
  background-color: #0056b3;
}

/* --------------- detail ------------------- */

.real_img {
  width: 20rem;
  object-fit: cover;
}

.img_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name_box {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
}